.email, .phone, .gender, .birth{
  display:table;
  vertical-align:middle;
}
.email, .phone, .gender, .birth{
margin-bottom:0px;
}
.id.first{
margin-bottom:10px;
}
.id.second, .id.third, .id.fourth{
margin-bottom:4px;
}
.pstation{
	margin-bottom:0px;
}
.phone, .gender, .birth, .id, .pstation{
margin-top:0px;
}
.name{
text-align:center;
font-weight:600;
}
.emailIcon, .emailText, .phoneIcon, .phoneText, .genderIcon, .genderText, .birthIcon, .birthText, .consoleIcon, .idText, .mobileIcon, .webIcon, .LRIcon, .psIcon{
 display:table-cell;
height:100%;
color: #706E6B;
font-size: 14px;
}
.idText{
font-size:13px !important;
}
.webIcon svg{
	margin-left: 3px;
}
.mobileIcon svg{
fill:none;
stroke:#706E6B;
stroke-width:1px;
width:30px;
margin-left: -3px;	
}
.mobileIcon{
	width:30px;
}
.LRIcon svg{
fill:none;
stroke:#706E6B;
stroke-width:1px;	
}
.consoleIcon svg{
fill:none;
stroke:#706E6B;
stroke-width:1px;
max-height:18px;
}
.bborder{
display:block;
}
.border .label{
color: #706E6B;
font-size: 14px;
display:inline-block;
width:auto;
float: left;
padding-right: 5px;
}
.border .startline{
display: inline-block;
width: 70%;
height: 1px;
border-color:#C9C7C5;
border-top-width:1px;
border-top-style:dashed
}
.border .endline{
display:block;
width:100%;
height: 1px;
border-color:#C9C7C5;
border-top-width:1px;
border-top-style:dashed
}
.emailText, .phoneText, .genderText, .birthText, .idText{
	vertical-align:top;
    word-break: break-word;
}
.emailIcon, .phoneIcon, .birthIcon, .consoleIcon{
vertical-align:middle;
}
.emailIcon svg, .phoneIcon svg, .genderIcon svg, .birthicon svg{
	font-size: 24px;
    margin-top: 2px;
}
.emailText, .phoneText, .genderText, .birthText{
	padding-left:0px;
}
.address{
color: #706E6B;
font-size: 14px;
margin-top:25px;
text-transform:capitalize;
}
.socials ul{
	list-style:none;
	padding-left:0px;
	display:table
}
.socials ul li{
	display:table-cell;
	width:20%;
	vertical-align:middle;
}
.socials ul li svg{
	font-size:30px;
	width:80%;
	height:auto;
}
.socials ul li:nth-child(2){
	text-align:left;
}
.socials ul li:nth-child(3){
	text-align:center;
}
.socials ul li:nth-child(4){
	text-align:right;
}
.socials ul li:last-child{
	text-align:right;
}
.socials ul li.inactive {
	color:#DDDBDA;
}
.socials ul li.facebook.active {
	color:#39659c;
}
.socials ul li.linkedin.active {
	color:#0077b5;
}
.socials ul li.pinterest.active {
	color:#c8232c;
}
.socials ul li.reddit.active {
	color:#ff4301;
}
.socials ul li.twitter.active {
	color:#1da1f2;
}
.socials ul li:first-child{
	text-align:left;
}
.socials ul li:first-child svg{
	width:70%;
}
.socials ul li:nth-child(2) svg{
	width:70%;
}
.socials ul li:last-child svg{
	width:80%;
}
.socials ul li:nth-child(3) svg{
	width:70%;
}
.socials ul li:nth-child(4) svg{
	width:80%;
}

