.div-body{
  height:auto;
  width:100%;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #C9C7C5;
  margin:25px 10px 0px 10px;
  border-radius:7.5px;
  color:#706E6B;
  min-height:140px;
}
.div-body svg{
  max-width:200px;
}
.gameTable {
  width:100%;
  display: table;
  vertical-align: middle;
  height: 100%;
}
.gameTable ul{
  list-style:none;
  font-size:12px;
  padding-left:0px;
}
.gameTable td.piechart{
  text-align:center;
}
.gameTable td.piechart svg{
  margin:0px auto;
}
.gameTable ul li {
	padding: 2px 6px 4px;
    border-radius: 3px;
      text-transform: capitalize;
      margin-bottom:5px;
      color:#514F4D;
}

.gameTable ul li.legend li{
  width:70%;
  float:left;
}
.gameTable ul li.legend span{
width:30%;
float:right;
}
.pssubs.inactive .overlay{
  display: block;
  position: absolute;
  background:
  repeating-linear-gradient(
  45deg,
  rgba(96,109,188,0.9),
  rgba(96,109,188,0.9) 10px,
  #465298 10px,
  #465298 20px
    );
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index:1;
}
.div-body.channel{
  position:relative;
  min-height:235px;
}
.pssubs.active svg{
color:#1da1f2;
}
.pssubs .MuiSvgIcon-root{
  width:1.5em;
  font-size:24px;
}
.channel .reventTable h5{
  font-size:24px;
  color:rgba(96,109,188,0.8);
}
ul.devicelist li{
display:inline-block;
color: rgba(96,109,188,0.8);
padding-right:5px
}
.pssubs.inactive p.MuiTypography-root{
position:absolute;
z-index:2;
color:#ffffff;
}
.pssubs.inactive p.MuiTypography-root svg{
  color:#ffffff !important;
}
.pssubs.inactive small.title{
  display:none !important;
}
@media only screen and (max-width: 1360px){

.gridWrapper .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12 {
    max-width: 100% !important;
    width: 100% !important;
}
}

